/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example {
  padding: 4rem 0;
  background: var(--ifm-background-surface-color);
}

.example ul {
  list-style: none;
  padding-left: 0;
}

.example ul li {
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
  position: relative;
}

.example ul li::before {
  content: "→";
  position: absolute;
  left: 0;
  color: var(--ifm-color-primary);
}
